.screen {
    display: none;
    padding-top: 25px;
    color: aqua;
}

.screen.active {
    display: block;
}

.menu {
    list-style-type: none;
}

.list-high-score{
    display: inline-block;
    text-align: left; 
    list-style-position:inside;
    font-size: 20px;
}

body {
    background-image: url("/Scaffold/Images/BluePlanet.jpg");
}

button {
    background-color: lightseagreen;
    border: 2px black solid;
    color: white;
    padding: 15px 32px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

button:hover {
    background-color: lightblue;
    color: black;
}

#game-play{
    padding-top: 0px
}

#game {
    height: 700px;
    width: 900px;
    border: 2px white solid;
    text-align: center;
}

.game-canvas{
    float : left;
}